<header class="navbar">
  <!-- Logo -->
  <div class="logo">
    <a href= "/" style="text-decoration: none;"><h2>Ayur Herbals</h2></a>
  </div>

  <!-- Navigation Links -->
  <nav class="nav-links">
    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
    <a routerLink="/product-list" routerLinkActive="active">Shop</a>
    <a routerLink="/blogs" routerLinkActive="active">Blogs</a>
    <a routerLink="/success-stories" routerLinkActive="active">Success Stories</a>
    <a routerLink="/about" routerLinkActive="active">About Us</a>
    <a routerLink="/contact" routerLinkActive="active">Contact</a>
  </nav>

  <!-- Right side: Search, Cart, Login -->
  <div class="nav-actions">
    <input type="text" placeholder="Search..." class="search-bar" />
    <a class="cart">🛒 Cart</a>
    <button class="login-btn" routerLink="/auth">Login / Signup</button>
  </div>
</header>
